<router-outlet>
  <header class="main-header">
    <div class="header-content">
      <h1 class="logo">CompraFlex</h1>
      <nav class="nav-bar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Carrinho</a></li>
          <li><a href="#">Comprados</a></li>
        </ul>
      </nav>
      <!-- Ícone de menu (visível apenas em dispositivos móveis) -->
      <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button>
    </div>
  </header>

  <div class="main-container">
    <app-mercado></app-mercado>
  </div>
<router-outlet />
