.container {
  width: 50%;
  margin: 0 auto;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-form input, .product-form textarea {
  padding: 8px;
  font-size: 1rem;
}

.product-list {
  margin-top: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product-item img {
  display: block;
  margin-bottom: 10px;
}

.purchased {
  text-decoration: line-through;
  color: #777;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button i {
  font-size: 1.5em;
  color: #0090CF; /* Cor do ícone de exclusão */
}
